[submodule "third_party/websocketpp_repo"]
	path = third_party/websocketpp_repo
	url = https://github.com/zaphoyd/websocketpp.git

[submodule "third_party/json_repo"]
	path = third_party/json_repo
	url = https://github.com/nlohmann/json.git
